.scoreBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black-40);
  line-height: 1.16;
}

.score {
  font-size: 56px;
  font-weight: 600;
  color: var(--color-black-100);
  line-height: 1.16;
}

@media (min-width: 2560px) {
  .scoreBlock {
    gap: 12px;
  }

  .label {
    font-size: 36px;
  }

  .score {
    font-size: 84px;
  }
}

@media (max-width: 768px) {
  .scoreBlock {
    align-items: center;
    gap: 4px;
    margin-bottom: auto;
    width: 100%;
  }

  .label {
    font-size: 18px;
  }

  .score {
    font-size: 32px;
  }
}
